@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}
*:focus {
  outline: none;
}
.css {
  -webkit-user-select: none;
  /*禁止ios和android用户选中文字*/
  -webkit-touch-callout: none;
  /*禁止ios 长按时不触发系统的菜单，禁止ios&android长按时下载图片*/
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
input,
textarea {
  -webkit-appearance: none;
  /*去除系统默认的样式*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
}
a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  height: 100%;
  font-size: 100%;
}
body {
  width: 100%;
  font-size: 0.1rem;
  -webkit-touch-callout: none;
  font-family: -apple-system-font, "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  position: relative;
}
/*<----------------------------------header部分------------------------------------>*/
.header {
  width: 100%;
  height: 2.5rem;
  background: #000;
  text-align: center;
  position: relative;
}
.header a {
  position: absolute;
  left: 0.6rem;
  top: 2rem;
  margin-top: -1.2rem;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  outline: none;
}
.header a:before {
  content: "";
  border: 0.1rem solid transparent;
  border-left-color: #fff;
  border-bottom-color: #fff;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header span {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2.5rem;
}
/*<----------------------------------section部分------------------------------------>*/
.Match_section {
  width: 100%;
  -webkit-flex: 1;
  overflow-y: auto;
  position: relative;
  background: #efefef;
}
.Match_section .Match_used {
  width: 100%;
}
.Match_section .Match_used .Match_time {
  width: 100%;
}
.Match_section .Match_used .Match_time h1 {
  color: #2373af;
  font-size: 2.5rem;
  padding-left: 1rem;
}
.Match_section .Match_used .Match_time h1 span {
  font-size: 1.1rem;
}
.Match_section .Match_used .Match_time h1 i {
  font-size: 1.1rem;
  padding-left: 0.5rem;
}
.Match_section .Match_used .Match_time .Match_table {
  width: 100%;
  padding: 0rem 0.5rem;
  background: #f5f5f5;
}
.Match_section .Match_used .Match_time .Match_table table {
  width: 100%;
}
.Match_section .Match_used .Match_time .Match_table table tbody {
  width: 100%;
  text-align: center;
}
.Match_section .Match_used .Match_time .Match_table table tbody tr {
  width: 100%;
  height: 2.3rem;
  line-height: 2.3rem;
}
.Match_section .Match_used .Match_time .Match_table table tbody tr:nth-child(1) {
  border-bottom: 1px solid #b9b9ba;
}
.Match_section .Match_used .Match_time .Match_table table tbody tr td {
  line-height: 2.3rem;
  font-size: 0.9rem;
}
.Match_section .Match_used .Match_time .Match_table table tbody tr td:nth-child(3) {
  vertical-align: middle;
  font-size: 1rem;
  color: #9fa0a0;
}
.Match_section .Match_used .Match_time .Match_table table tbody tr td:nth-child(4) {
  width: 8rem;
  border-radius: 2px;
  vertical-align: middle;
}
.Match_section .Match_used .Match_time .Match_table table tbody tr td:nth-child(4) p {
  width: 6rem;
  height: 2rem;
  font-size: 0.9rem;
  line-height: 2rem;
  background: #000000;
  border-radius: 1rem;
  color: #ffffff;
  margin: 0 auto;
}
.Match_section .Match_used .Match_time .Match_table table tbody tr td:nth-child(4) p i {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 12px solid #ffffff;
  border-bottom: 6px solid transparent;
  margin-left: 5px;
  margin-top: 4px;
}
.Match_section .Match_new {
  width: 100%;
}
.Match_section .Match_new .Match_box {
  width: 100%;
}
.Match_section .Match_new .Match_box h1 {
  color: #2373af;
  font-size: 2.5rem;
  padding-left: 1rem;
}
.Match_section .Match_new .Match_box h1 span {
  font-size: 1.1rem;
}
.Match_section .Match_new .Match_box h1 i {
  font-size: 1.1rem;
  padding-left: 0.5rem;
}
.Match_section .Match_new .Match_box .table {
  width: 100%;
  padding: 0rem 0.5rem;
  background: #f5f5f5;
}
.Match_section .Match_new .Match_box .table table {
  width: 100%;
}
.Match_section .Match_new .Match_box .table table tbody {
  width: 100%;
  text-align: center;
}
.Match_section .Match_new .Match_box .table table tbody tr {
  display: inline-table;
  width: 100%;
  height: 4rem;
}
.Match_section .Match_new .Match_box .table table tbody tr td {
  line-height: 4rem;
  font-size: 0.9rem;
}
.Match_section .Match_new .Match_box .table table tbody tr td:nth-child(2) {
  position: relative;
}
.Match_section .Match_new .Match_box .table table tbody tr td:nth-child(2):before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  width: 1px;
  height: 1rem;
  background: #000000;
}
.Match_section .Match_new .Match_box .table table tbody tr td:nth-child(1) {
  display: inline-table;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  color: #ffffff;
  background: #2373af;
  border-radius: 50%;
}
.Match_section .Match_new .Match_box .table table tbody tr:nth-child(1) td:before {
  content: "";
  position: absolute;
  top: 0rem;
  left: -2rem;
  width: 1px;
  height: 0.5rem;
  background: #000000;
}
.Match_section .Match_new .Match_box .table table tbody tr:last-child td:after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: -2rem;
  width: 1px;
  height: 0.5rem;
  background: #000000;
}
#dv1 {
  width: 2rem;
  height: 2rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  /* display: none; */
}
#dv1 img {
  width: 2rem;
  height: 2rem;
}
.pullDownLabel,
#pullDownLabel {
  font-size: 1rem;
}
#pullDown,
#pullUp {
  background: #fff;
  height: 50px;
  line-height: 50px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 1rem;
  color: #888;
}
#pullDown .pullDownIcon,
#pullUp .pullUpIcon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url(../images/pull-icon@2x.png) 0 0 no-repeat;
  -webkit-background-size: 40px 80px;
  background-size: 40px 80px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}
#pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}
#pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
#pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
#pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}
#pullDown.loading .pullDownIcon,
#pullUp.loading .pullUpIcon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
